.order{
		display: flex;
		justify-content: space-between;
		margin: 20px 0;
		padding: 10px;
}
.orderTitle{
		width: 30%;
}
.remove{
		background: ghostwhite;
		color: red;
		border: 2px solid red;
		font-weight: bold;
}