.item{
		display: flex;
		padding: 10px;
		border: 5px solid lightskyblue;
		border-radius: 30px;
		margin: 10px;
		height: 160px;
}
.itemBox{
		display: inline-block;
		width: 50%;
}
.img{
		width: 40%;
		height: 100%;
}
.text{
		color: black;
		font-size: 20px;
		padding-top: 15px;
		text-transform: uppercase;
}
.itemPrice{
		color: red;
}