.App {
		margin: 20px auto;
		max-width: 1400px;
		font-family: 'Righteous', cursive;
		font-size: 20px;
}
.itemsDiv{
		display: inline-block;
		width: 50%;
		margin-right: 20px;
		border: 5px solid lightskyblue;
		box-sizing: border-box;
		padding: 10px;
		border-radius: 20px;
}
.orderDiv{
		display: inline-block;
		width: 40%;
		border: 5px solid lightskyblue;
		box-sizing: border-box;
		padding: 10px;
		vertical-align: top;
		border-radius: 20px;
}